@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif:wght@700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Noto+Serif:wght@700&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.nav-bar1{
    width: 100%;
    height: 14vh;
    border: solid;
    display: flex;
    justify-content: center;
   
    background-color: black;
    align-items: center;
    flex-direction: column;


}

.nav-bar1 h1{
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    text-shadow: 0 1px 0 white,0 1px 0 white,0 2px 0 white,0 1px 0 white,0 15px 6px  white;
    
}
#bth{
    
    width: 150px;
    height: 40px;
    color: white;
    background-color: black;
    position: relative;
    font-size: large;
    border: none;
    
}
.instruction{
    position: relative;
    top:10px;
    width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(./img/R\ \(3\).jpg);
  background-size: 50vw 40vh;
  background-repeat: no-repeat;
  background-position: center;
  
 

}
.instruction h2{
  
    width: 30vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    position: relative;
    top:13px;
    font-family: 'Dancing Script', cursive;
}
.instruction p{
   
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    position: relative;
    top:1px;
    font-family: 'Dancing Script', cursive;
    
    
}
.shopping{
    width:100vw;
 
    height: 70vh;
    position: relative;
    top:2px;
    display:flex ;
    justify-content: space-around;

}
.shopping1{
    width:100vw;
 
    height: 70vh;
    position: relative;
    top:2px;
    display:flex ;
    justify-content: space-around;

}
.cart1{
   
    width: 40vw;
    height: 50vh;
    background-image: url("./img/boost1\ \(1\).jpg");
    background-size: 40vw 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 7px 5px 10px -3px;
    border-radius: 0px 10px 0px 10px;

}
.cart1 button{

    width: 150px;
    height: 35px;
    background-color:transparent;
    color: black;
    font-size: larger;

    border-radius: 10px 10px 10px 10px;

}
.cart1 button:hover{
    height: 50px;
    background-color: bisque;
    color: black;
}
.cart2{
   
    width: 40vw;
    height: 50vh;
    background-image: url("./img/OIP.jpg");
    background-size: 40vw 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 7px 5px 10px -3px;
    border-radius: 0px 10px 0px 10px;

}
.cart2 button{

    width: 150px;
    height: 35px;
    background-color:transparent;
    color:crimson;
    font-weight: bolder;
    font-size: larger;

    border-radius: 10px 10px 10px 10px;

}
.cart2 button:hover{
    height: 50px;
    background-color: bisque;
    color: black;
}
.cart3{
   
    width: 40vw;
    height: 50vh;
    background-image: url("./img/mass-protein-powder.jpg");
    background-size: 40vw 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 7px 5px 10px -3px;
    border-radius: 0px 10px 0px 10px;

}
.cart3 button{

    width: 150px;
    height: 35px;
    background-color:transparent;
    color: white;
    font-size: larger;

    border-radius: 10px 10px 10px 10px;

}
.cart3 button:hover{
    height: 50px;
    background-color: bisque;
    color: black;
}
.cart4{
   
    width: 40vw;
    height: 50vh;
    background-image: url("./img/OIP\ \(1\).jpg");
    background-size: 40vw 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 7px 5px 10px -3px;
    border-radius: 0px 10px 0px 10px;

}
.cart4 button{

    width: 150px;
    height: 35px;
    background-color:transparent;
    color:black;
    font-size: larger;

    border-radius: 10px 10px 10px 10px;

}
.cart4 button:hover{
    height: 50px;
    background-color: bisque;
    color: black;
}
 #p1{
    opacity: 0;
}